@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent {
  width: 40%;
  height: auto;
  background-color: rgb(232, 255, 245);
  margin: 50px auto;
  border-radius: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
}

.header-container {
  /* border: 1px solid red; */
  width: 500px;
  padding-top: 20px;
  text-align: center;
  margin-left: 10px;
  padding-bottom: 20px;
}

.h1-header-container {
  font-size: 3rem;
}

.p-header-container {
  font-size: 1.5rem;
}

.form-card {
}

.label-input-card {
  /* display: block; */
  /* border: 1px solid red; */
  /* padding-bottom: 10px;
  gap: 2; */
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 55px;
  /* margin-right: auto; */
}

.form-card {
}

label {
  /* width: 80%; */
  font-size: 20px;
  padding-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
  width: 90%;
  height: 40px;
  padding: 5px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 4px;
}

.label-select {
  /* margin-left: 60px;
  padding-top: 20px; */
  /* border: 1px solid; */
}

input[type="radio"],
input[type="checkbox"] {
  margin-top: 5px;
  margin-right: 10px;
  /* width: 30px; */
}

.radio-card .radio-ele-class {
  /* width: 20%; */
  /* border: 1px solid red;
  display: flex; */
}

.radio-card,
.checkbox-card {
  display: flex;
  /* border: 1px solid red; */
}

.remarks-card {
  margin-top: 20px;
  margin-left: 55px;
  margin-bottom: 20px;
}

.textarea-box {
  width: 90%;
  height: 140px;
  border: none;
  outline: none;
  font-size: 16px;
  margin-top: 10px;
  padding: 8px;
  border-radius: 10px;
}

.btn-card {
  text-align: center;
  /* margin-bottom: 30px; */
}

input[type="submit"] {
  width: 300px;
  height: 50px;
  margin-bottom: 20px;
  font-size: 24px;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: black;
  color: white;
}

input[type="submit"]:hover {
  background-color: rgb(15, 199, 98);
  color: rgba(242, 254, 22, 0.995);
}
